$main-color: #424242;
$second-color: #A9ABB2;
$third-color: #292C3B;
$active-card-color: #3DDC97;
$active-color: #256EFF;
$light-gray: #F6F6F6;
$largeSize: 22px;
$defaultSize: 18px;
$normalSize: 16px;
$miniSize: 14px;
$subMiniSize: 12px;
$smallSize: 10px;
$circleBorderRadius: 50%;
$borderRadius: 5px;
$shadow: 0 0 5px rgba(121,121,121,.3);
$transition:all 0.3s ease-in-out;



