<header class="header-bar">
  <div class='d-flex justify-content-between align-items-center'>
    <div class="d-flex align-items-center logo">
      <img  src="assets/images/logo.png" alt="ball game">
      <h1 class="mb-0">Game Ball</h1>
    </div>
    <div>
      <i class="fa fa-bars" (click)="openNav()"></i>
    </div>
  </div>
</header>


<section class="layout">
  <div class="container-fluid">
    <div class="row">
      <div id="mySidenav" class="side-nav-mobile" [ngClass]="{'sidenavToggle': sideMob}">
        <app-side-menu></app-side-menu>
      </div>
      <div class="col-md-2 p-0 side-nav-desktop">
        <app-side-menu></app-side-menu>
      </div>
      <!-- col -->
      <div class="col-md-10">
        <app-header></app-header>
        <router-outlet></router-outlet>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
</section>
